/* Allgemein */

body {
    background-color: #d2d9ff;
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    margin: 0;
    padding: 0;
    height: 100vh;

    background-image: linear-gradient(to bottom, #dcdcea, #ceb2e7);
}

button {
    background-color: #00000000;
    border: none;
    color: #ffffff;
    font-size: 15px;
}

button:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Navigationsleiste */

#top_nav {
    display: flex;
    justify-content: space-between;
    width: 45vw;
    align-items: center;
    font-weight: 500;
}

.top_nav_element {
    transition: scale 0.2s ease;
}

.top_nav_element:hover {
    scale: 1.1;
    cursor: pointer;
}

#top_nav_container {
    display: flex;
    justify-content: center;
}

/* Karte und Hauptteil des Bildschirms */

#main {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

#card {
    font-family: "Stack Sans Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    flex-direction: column;

    background-image: radial-gradient(circle, #6f3cce, #2f4c65);
    color: #ffffff;

    display: flex;
    align-items: center;

    width: 25vw;
    border: 4px solid #05133c78;
    padding: 10px;
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 18px;
    border-radius: 25px;

    transition: scale 0.2s ease;

    margin-bottom: 5vh;
}

#card:hover {
    scale: 1.01;
}

#card_profile_picture {
    width: 25vh;
    height: 25vh;
    border: 4px solid #ffffff60;
}

#text_card_info {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

#age {
    margin-left: 10px;
}

#like_dislike_card_info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 6vh;
}

#match_buttons {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    width: 15vw;
}

.match_button {
    font-size: 24px;
}

#next_hamster_container {
    display: flex;
    justify-content: center;
}

#next_hamster {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 12vw;
    height: 4vh;
    background-color: #6f3cce;
    padding: 10px;

    border: 4px solid #05133c78;
    border-radius: 25px;

    transition: scale 0.2s ease;
}

#next_hamster:hover {
    scale: 1.2;
}

@keyframes showHide {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  10% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

#overlay-effect {
    visibility: hidden;

    color: #ffffff;
    font-size: 50px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(225, 82, 101);
}

#overlay-effect.active {
    animation: showHide 1.5s ease-out forwards;
    pointer-events: auto;
}
